<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <style>
  body{
    background: lightblue;
    color: black;

  }
  </style>
</head>
<body>
<h1> Consuming 3rd party API Demo....</h1><hr><br>
<h1> Your Geographic information..</h1>
<h1>Your IP address..{{ip}}</h1>
<h1>Yur continent name..{{continent_name}}</h1>
<h1>Your Country Name..{{Country_name}}</h1>
<h1>Your Region Name..{{region_name}}</h1>
<h1>Your City Nam..{{city}}</h1>
<h1>Your zip code ..{{zip}}</h1>
<h1>Your latitude..{{latitude}}</h1>
<h1>Your longitude..{{longitude}}</h1>

<!-- <form method="POST">
  {%csrf_token%}
  {{form.as_p}}
  <button type="submit"> Login </button>

</form> -->
</body>
</html>
